*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}
section{
    padding: 2rem 9%;

}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background:#ffffff;
    padding: 2rem 9%;
    display: flex;
    align-items:center;
    justify-content:space-between;
    z-index: 1000;
    box-shadow: 0.5rem 1rem rgba(0, 0, 0, .1);
}
header .logo{
    font-size: 3rem;
    color: rgb(26, 16, 7);
    font-weight: bolder;
    align-items: flex-start;
}
header .navbar a{
    font-size: 2rem;
    padding: 0 3rem;
    color: #68727f;
}
header .navbar a:hover{
    color: rgb(26, 16, 7);
}
header .navbar button{
    font-size: 2rem;
    padding: 0 3rem;
    color: #68727f;
    background-color: transparent;
}
header .navbar button:hover{
    color: rgb(26, 16, 7);
}
header .icons i{
    font-size: 2.5rem;
    color: #68727f ;
    margin-left: 1.5 rem;
}
header .icons i:hover{
    color: rgb(26, 16, 7);
}
header #toggler{
    display: none;
}
header .fa-bars{
    font-size: 3rem;
    color:#68727f ;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: .1rem solid rgb(0, 0, 0,.3);
    display: none;
}
.inicio-2{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    background: url("./imagenes/christmas-fir-branches-wooden-board.jpg") no-repeat center center;
    background-size:cover;
    background-position: center;
}
.inicio-2 .contenido{
    max-height: 50rem;
    text-align: right;
}
.inicio-2 .contenido h3{
    font-size: 4.5rem;
    color: #ffffff;
}